Source: pigpiobuilder
Section: net
Priority: optional
Maintainer: Helly1206
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: sharing

Package: pigpiobuilder
Architecture: all
Depends: gcc,
         make,
         python3,
         python3-setuptools,
         ${misc:Depends}
Description: pigpio_builder (Automatic downloading and builing the latest version of pigpio with apt upgrade)
